$heading: 'Megrim', cursive;
$script: 'Big Shoulders Inline Display', cursive;

@mixin mobile {
    grid-template-columns: 1;
    grid-template-rows: 20;
}

@mixin desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

* {
    color: #fff;
    background-color: black;
    font-family: $script;
    list-style-type: none;
}

html { height: 100%; }
body { min-height: 100%; }

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}



.landing {
    grid-area: 3 / 2 / 4 / 3; /* Row Start, Col Start, Row End, Col End */
    font-size: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
        font-family: $heading;
    }

}



.about {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;

    &__box1, &__box2 {
        text-align: center;
        position: absolute;
        transition: 1000ms ease;
    }

    &__box1 {
        font-size: 50px;

        opacity: 1;
        visibility: visible;
    }
    &__box2 {
        font-size: 20px;

        opacity: 0;
        visibility: hidden;
    }
}

.about:hover .about__box1 {
    opacity: 0;
    visibility: hidden;
}

.about:hover .about__box2 {
    opacity: 1;
    visibility: visible;
}



.projects {
    grid-area: 5 / 1 / 6 / 4; /* Row Start, Col Start, Row End, Col End */
    display: flex;

    justify-content: center;
    align-items: center;

    &__list {
        display: flex;
        justify-content: space-around;

    }
}



.skills {
    grid-area: 1 / 1 / 2 / 4; /* Row Start, Col Start, Row End, Col End */
    display: flex;

    justify-content: center;
    align-items: center;

    &__list {
        display: flex;
        justify-content: center;
        
    }
}

.list__item {
    font-size: 50px;
    padding: 0px 20px;

}