$heading: 'Megrim', cursive;
$script: 'Big Shoulders Inline Display', cursive;

* {
    color: #fff;
    background-color: black;
    font-family: $script;
    list-style-type: none;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.landing {
    grid-area: 3 / 2 / 4 / 3; /* Row Start, Col Start, Row End, Col End */
    font-size: 50px;

    &__heading {
        font-family: $heading;
    }
}

.projects {
    grid-area: 5 / 1 / 6 / 4; /* Row Start, Col Start, Row End, Col End */

    &__list {
        display: flex;
    }
}

.skills {
    grid-area: 1 / 1 / 2 / 4; /* Row Start, Col Start, Row End, Col End */

    &__list {
        display: flex;
    }
}

.list__item {
    font-size: 50px;
    padding: 0px 20px;
}